<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="CSPS Open Learning" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://bspaceviewer.replit.app/" />
<meta property="og:image" content="https://bspaceviewer.replit.app/public/OpenContentViewer.png" />
<meta property="og:description" content="Your home for barrier-free, online learning from the federal public service of Canada" />
<meta property="og:site_name" content="Open Content Viewer" />
  <link rel="icon" href="/public/favicon-mobile.ico">
 <link rel="stylesheet" href="/public/index.css">
  <!-- language switcher -->
  <script>
    const language = localStorage.getItem('language') || 'en';
    document.documentElement.lang = language;
  </script>
    <title>Open Content Viewer - Lecteur de contenu ouvert</title>
</head>
<body>
  <div class="fip">
    <img width="300" src="/public/CSPS_FipEng_Black-Red-Final.svg" alt="Canada School of Public Service">
  </div>
    <button id="langSwitch" onclick="switchLanguage()"></button>
    <h1 id="appTitle">Open Content Viewer</h1>
  <% if (sessionEnded) { %>
  <div id="sessionEnd" class="alert alert-warning" role="alert">
    Your session has ended. You have been redirected to the homepage.
  </div>
<% } %>
  <label id="searchlabel" class="sr-only" for="search">Search by title, filename or language:</label>
  <input type="text" id="search" placeholder="Search by title, filename or language...">
  <main class="container" role="main">
    <p id="srUpdate" class="sr-only" aria-live="polite"></p>   

       <% for(let i=0; i<packageFiles.length; i++) { %>
        <div class="tile" data-title="<%= packageFiles[i].title %>" data-file="<%= packageFiles[i].file %>" data-lang="<%= packageFiles[i].lang =="en-ca"?"English anglais":"French français" %>">
          
  <a href="<%= packageFiles[i].file ? `/load/${encodeURIComponent(packageFiles[i].file)}?lang=${packageFiles[i].lang}` : 'javascript:' %>"><% if(packageFiles[i].imageUrl){ %>
            <img src="<%= packageFiles[i].imageUrl %>">
            <% } %>
    <span class="textLink"><%= packageFiles[i].title %> </span>
  </a>
</div>
    <% } %>
      <% if(displayPIsymbol){ %>
      <div class="adminConsole"><a tabindex="-1" href="/adminconsole" aria-label="Admin console">&#120645;</a></div>
        <% } %>
       </main>
          <div id="overlay">
            <p id="loadingText">Loading...</p> <!-- Loading text -->
  <div id="spinner"></div>
  
</div>
<script src="/public/index.js"></script>
</body>
</html>
