<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/public/d2l.css" />
    <style>
        
        .topbar {
            display: flex;
            align-items: center;
            height: var(--topbar-height);
            color: var(--d2l-color-ferrite);
            font-size: var(--d2l-body-standard-text_-_font-size);
            font-weight: var(--d2l-body-standard-text_-_font-weight);
            line-height: var(--d2l-body-standard-text_-_line-height);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
        }

        body {
            font-family: sans-serif;
            padding: 0;
        }

        /* The sidebar menu */
        .sidebar {
            height: 100%;
            /* Full-height: remove this if you want "auto" height */
            width: 0;
            /* Set the width of the sidebar */
            position: fixed;
            /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            left: 0;
            background-color: #ffffff;
            /* White */
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in the sidebar */
        }

        /* The sidebar links */
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #0f0f0f;
        }

        /* Position and style the close button (top right corner) */
        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* The button used to open the sidebar */
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: transparent;
            color: #000;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            color: #444;
        }

        /* Style page content - push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }

        iframe {
            display: block;
            margin: auto;
            width: 860px;
            height: 90vh;
            /* vh stands for viewport height. 90vh will be 90% of the height of the viewport */
            border: none;
            box-shadow: 0 0 10px #ccc;
        }

        .nav-buttons {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        .nav-buttons a {
            padding: 10px 20px;
            background-color: #3f2a56;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        #header-right {

            color: var(--d2l-color-ferrite);
            font-size: var(--d2l-body-standard-text_-_font-size);
            font-weight: var(--d2l-body-standard-text_-_font-weight);
            line-height: var(--d2l-body-standard-text_-_line-height);

            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
        }

        #header-left {
            display: flex;
            flex: 1;
          align-items:center;
        }

        .topic-name {
            font-size: var(--d2l-body-compact-text_-_font-size);
            font-weight: var(--d2l-body-compact-text_-_font-weight);
            line-height: var(--d2l-body-compact-text_-_line-height);
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;

        }
    </style>
    <title>
        <%= currentPage %>
    </title>
</head>

<body>
    <div class="topbar">
        <div id="header-left">
            <a href="/"><%= manifestLanguage=="en-ca"?"Back":"Retour" %></a>
            <button class="openbtn" onclick="openNav()">☰</button>
        </div>
        <div class="topic-name hidden-small">
            <%= resource.title %>
        </div>
        <div id="header-right">
            <div class="nav-buttons">
                <% if (prevResource) { %>
                    <a href="/resource/<%= encodeURIComponent(prevResource.title) %>?lang=<%= manifestLanguage %>"><%= manifestLanguage=="en-ca"?"Previous":"Précédent" %></a>
                    <% } else { %>
                        <button disabled><%= manifestLanguage=="en-ca"?"Previous":"Précédent" %></button>
                        <% } %>
                            <% if (nextResource) { %>
                                <a href="/resource/<%= encodeURIComponent(nextResource.title) %>?lang=<%= manifestLanguage %>"><%= manifestLanguage=="en-ca"?"Next":"Suivant" %></a>
                                <% } else { %>
                                    <button disabled>Next</button>
                                    <% } %>
            </div>
        </div>
    </div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <h2><%= manifestLanguage=="en-ca"?"Table of Contents":"Table des matières" %></h2>
    <% manifest.forEach(function(module) { %>
        <h3>
            <%= module.moduleTitle %>
        </h3>
        <% function renderItems(items) { %>
            <% items.forEach(function(item) { %>
                <% if (item.type === "contentmodule") { %>
                    <h4><%= item.title %></h4>
                    <% if (item.items) { %>
                        <% renderItems(item.items); %>
                    <% } %>
                <% } else { %>
                    <a href="/resource/<%= encodeURIComponent(item.title) %>?lang=<%= manifestLanguage %>">
                        <%= item.title %>
                    </a>
                <% } %>
            <% }); %>
        <% } %>
        <% renderItems(module.items); %>
    <% }); %>
</div>


    <div id="main">


        <iframe src="/page/<%= resource.href %>"></iframe>
        <div class="nav-buttons">
            <% if (prevResource) { %>
                <a href="/resource/<%= encodeURIComponent(prevResource.title) %>?lang=<%= manifestLanguage %>"><%= manifestLanguage=="en-ca"?"Previous":"Précédent" %></a>
                <% } else { %>
                    <button disabled><%= manifestLanguage=="en-ca"?"Previous":"Précédent" %></button>
                    <% } %>
                        <% if (nextResource) { %>
                            <a href="/resource/<%= encodeURIComponent(nextResource.title) %>?lang=<%= manifestLanguage %>"><%= manifestLanguage=="en-ca"?"Next":"Suivant" %></a>
                            <% } else { %>
                                <button disabled><%= manifestLanguage=="en-ca"?"Next":"Suivant" %></button>
                                <% } %>
        </div>
    </div>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "450px";
        document.getElementById("main").style.marginLeft = "450px";
        localStorage.setItem('sidebarStatus', 'open'); // save the sidebar status
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        localStorage.setItem('sidebarStatus', 'closed'); // save the sidebar status
    }
</script>

    <script>
        window.onload = function () {
          console.log("loaded");
            var currentPageTitle = '<%= currentPage %>'; // get the current page title from the server-side data
            localStorage.setItem(currentPageTitle, 'visited'); // mark the current page as visited

            // Get all links in the sidebar
            var links = document.getElementById('mySidebar').getElementsByTagName('a');

            for (var i = 0; i < links.length; i++) {
                var title = links[i].textContent.trim();
                if (localStorage.getItem(title) === 'visited') {
                    // Add a checkmark after the link
                    links[i].innerHTML += ' ✓';
                }
            }
                  // Check the saved sidebar status and open the sidebar if it was previously open
        // var sidebarStatus = localStorage.getItem('sidebarStatus');
        // if (sidebarStatus === 'open') {
        //     openNav();
        // }
        }
    </script>

</body>

</html>