<!DOCTYPE html>
<html>

<head>
    <style>
        :root {
            --d2l-color-regolith: #f9fbff;
            --d2l-color-sylvite: #f1f5fb;
            --d2l-color-gypsum: #e3e9f1;
            --d2l-color-mica: #cdd5dc;
            --d2l-color-corundum: #b1b9be;
            --d2l-color-chromite: #90989d;
            --d2l-color-galena: #6e7477;
            --d2l-color-tungsten: #494c4e;
            --d2l-color-ferrite: #202122;
            --d2l-color-zircon-plus-2: #e0feff;
            --d2l-color-zircon-plus-1: #00d2ed;
            --d2l-color-zircon: #008eab;
            --d2l-color-zircon-minus-1: #035670;
            --d2l-color-celestine-plus-2: #e8f8ff;
            --d2l-color-celestine-plus-1: #29a6ff;
            --d2l-color-celestine: #006fbf;
            --d2l-color-celestine-minus-1: #004489;
            --d2l-color-amethyst-plus-2: #f2f0ff;
            --d2l-color-amethyst-plus-1: #8982ff;
            --d2l-color-amethyst: #6038ff;
            --d2l-color-amethyst-minus-1: #4500db;
            --d2l-color-fluorite-plus-2: #f9ebff;
            --d2l-color-fluorite-plus-1: #ce68fa;
            --d2l-color-fluorite: #9d1fd4;
            --d2l-color-fluorite-minus-1: #6900a0;
            --d2l-color-tourmaline-plus-2: #ffebf6;
            --d2l-color-tourmaline-plus-1: #fd4e9d;
            --d2l-color-tourmaline: #d40067;
            --d2l-color-tourmaline-minus-1: #990056;
            --d2l-color-cinnabar-plus-2: #ffede8;
            --d2l-color-cinnabar-plus-1: #ff575a;
            --d2l-color-cinnabar: #cd2026;
            --d2l-color-cinnabar-minus-1: #990006;
            --d2l-color-carnelian-plus-1: #fff3e0;
            --d2l-color-carnelian: #e87511;
            --d2l-color-carnelian-minus-1: #ba4700;
            --d2l-color-carnelian-minus-2: #7d2600;
            --d2l-color-citrine-plus-1: #fff9d6;
            --d2l-color-citrine: #ffba59;
            --d2l-color-citrine-minus-1: #c47400;
            --d2l-color-citrine-minus-2: #7a4300;
            --d2l-color-peridot-plus-1: #efffd9;
            --d2l-color-peridot: #8ad934;
            --d2l-color-peridot-minus-1: #4a8f00;
            --d2l-color-peridot-minus-2: #2f5e00;
            --d2l-color-olivine-plus-1: #e7ffe3;
            --d2l-color-olivine: #46a661;
            --d2l-color-olivine-minus-1: #027a21;
            --d2l-color-olivine-minus-2: #005614;
            --d2l-color-malachite-plus-1: #e3fff5;
            --d2l-color-malachite: #2de2c0;
            --d2l-color-malachite-minus-1: #00a490;
            --d2l-color-malachite-minus-2: #00635e;
            --d2l-color-primary-accent-action: var(--d2l-color-celestine);
            --d2l-color-primary-accent-indicator: var(--d2l-color-carnelian);
            --d2l-color-feedback-error: var(--d2l-color-cinnabar);
            --d2l-color-feedback-warning: var(--d2l-color-carnelian);
            --d2l-color-feedback-success: var(--d2l-color-olivine);
            --d2l-color-feedback-action: var(--d2l-color-celestine);
            --d2l-body-standard-text_-_font-size: 0.95rem;
            --d2l-body-standard-text_-_font-weight: 400;
            --d2l-body-standard-text_-_line-height: 1.4rem;
            --d2l-body-compact-text_-_font-size: 0.8rem;
            --d2l-body-compact-text_-_font-weight: 400;
            --d2l-body-compact-text_-_line-height: 1.2rem;
            --d2l-body-small-text_-_color: var(--d2l-color-tungsten);
            --d2l-body-small-text_-_font-size: 0.7rem;
            --d2l-body-small-text_-_font-weight: 400;
            --d2l-body-small-text_-_line-height: 1rem;
            --d2l-body-small-text_-_margin: auto;
            --d2l-heading-1_-_font-size: 2rem;
            --d2l-heading-1_-_font-weight: 400;
            --d2l-heading-1_-_line-height: 2.4rem;
            --d2l-heading-1_-_margin: 1.5rem 0 1.5rem 0;
            --d2l-heading-2_-_font-size: 1.5rem;
            --d2l-heading-2_-_font-weight: 400;
            --d2l-heading-2_-_line-height: 1.8rem;
            --d2l-heading-2_-_margin: 1.5rem 0 1.5rem 0;
            --d2l-heading-3_-_font-size: 1rem;
            --d2l-heading-3_-_font-weight: 700;
            --d2l-heading-3_-_line-height: 1.5rem;
            --d2l-heading-3_-_margin: 1.5rem 0 1.5rem 0;
            --d2l-heading-4_-_font-size: 0.8rem;
            --d2l-heading-4_-_font-weight: 700;
            --d2l-heading-4_-_line-height: 1.2rem;
            --d2l-heading-4_-_margin: 1.5rem 0 1.5rem 0;
            --d2l-label-text_-_font-size: 0.7rem;
            --d2l-label-text_-_line-height: 1rem;
            --d2l-label-text_-_font-weight: 700;
            --d2l-label-text_-_letter-spacing: 0.2px;
            --layout_-_display: flex;
            --layout-inline_-_display: inline-flex;
            --layout-horizontal_-_display: var(--layout_-_display);
            --layout-horizontal_-_-ms-flex-direction: row;
            --layout-horizontal_-_-webkit-flex-direction: row;
            --layout-horizontal_-_flex-direction: row;
            --layout-horizontal-reverse_-_display: var(--layout_-_display);
            --layout-horizontal-reverse_-_-ms-flex-direction: row-reverse;
            --layout-horizontal-reverse_-_-webkit-flex-direction: row-reverse;
            --layout-horizontal-reverse_-_flex-direction: row-reverse;
            --layout-vertical_-_display: var(--layout_-_display);
            --layout-vertical_-_-ms-flex-direction: column;
            --layout-vertical_-_-webkit-flex-direction: column;
            --layout-vertical_-_flex-direction: column;
            --layout-vertical-reverse_-_display: var(--layout_-_display);
            --layout-vertical-reverse_-_-ms-flex-direction: column-reverse;
            --layout-vertical-reverse_-_-webkit-flex-direction: column-reverse;
            --layout-vertical-reverse_-_flex-direction: column-reverse;
            --layout-wrap_-_-ms-flex-wrap: wrap;
            --layout-wrap_-_-webkit-flex-wrap: wrap;
            --layout-wrap_-_flex-wrap: wrap;
            --layout-wrap-reverse_-_-ms-flex-wrap: wrap-reverse;
            --layout-wrap-reverse_-_-webkit-flex-wrap: wrap-reverse;
            --layout-wrap-reverse_-_flex-wrap: wrap-reverse;
            --layout-flex-auto_-_-ms-flex: 1 1 auto;
            --layout-flex-auto_-_-webkit-flex: 1 1 auto;
            --layout-flex-auto_-_flex: 1 1 auto;
            --layout-flex-none_-_-ms-flex: none;
            --layout-flex-none_-_-webkit-flex: none;
            --layout-flex-none_-_flex: none;
            --layout-flex_-_-ms-flex: 1 1 0.000000001px;
            --layout-flex_-_-webkit-flex: 1;
            --layout-flex_-_flex: 1;
            --layout-flex_-_-webkit-flex-basis: 0.000000001px;
            --layout-flex_-_flex-basis: 0.000000001px;
            --layout-flex-2_-_-ms-flex: 2;
            --layout-flex-2_-_-webkit-flex: 2;
            --layout-flex-2_-_flex: 2;
            --layout-flex-3_-_-ms-flex: 3;
            --layout-flex-3_-_-webkit-flex: 3;
            --layout-flex-3_-_flex: 3;
            --layout-flex-4_-_-ms-flex: 4;
            --layout-flex-4_-_-webkit-flex: 4;
            --layout-flex-4_-_flex: 4;
            --layout-flex-5_-_-ms-flex: 5;
            --layout-flex-5_-_-webkit-flex: 5;
            --layout-flex-5_-_flex: 5;
            --layout-flex-6_-_-ms-flex: 6;
            --layout-flex-6_-_-webkit-flex: 6;
            --layout-flex-6_-_flex: 6;
            --layout-flex-7_-_-ms-flex: 7;
            --layout-flex-7_-_-webkit-flex: 7;
            --layout-flex-7_-_flex: 7;
            --layout-flex-8_-_-ms-flex: 8;
            --layout-flex-8_-_-webkit-flex: 8;
            --layout-flex-8_-_flex: 8;
            --layout-flex-9_-_-ms-flex: 9;
            --layout-flex-9_-_-webkit-flex: 9;
            --layout-flex-9_-_flex: 9;
            --layout-flex-10_-_-ms-flex: 10;
            --layout-flex-10_-_-webkit-flex: 10;
            --layout-flex-10_-_flex: 10;
            --layout-flex-11_-_-ms-flex: 11;
            --layout-flex-11_-_-webkit-flex: 11;
            --layout-flex-11_-_flex: 11;
            --layout-flex-12_-_-ms-flex: 12;
            --layout-flex-12_-_-webkit-flex: 12;
            --layout-flex-12_-_flex: 12;
            --layout-start_-_-ms-flex-align: start;
            --layout-start_-_-webkit-align-items: flex-start;
            --layout-start_-_align-items: flex-start;
            --layout-center_-_-ms-flex-align: center;
            --layout-center_-_-webkit-align-items: center;
            --layout-center_-_align-items: center;
            --layout-end_-_-ms-flex-align: end;
            --layout-end_-_-webkit-align-items: flex-end;
            --layout-end_-_align-items: flex-end;
            --layout-baseline_-_-ms-flex-align: baseline;
            --layout-baseline_-_-webkit-align-items: baseline;
            --layout-baseline_-_align-items: baseline;
            --layout-start-justified_-_-ms-flex-pack: start;
            --layout-start-justified_-_-webkit-justify-content: flex-start;
            --layout-start-justified_-_justify-content: flex-start;
            --layout-center-justified_-_-ms-flex-pack: center;
            --layout-center-justified_-_-webkit-justify-content: center;
            --layout-center-justified_-_justify-content: center;
            --layout-end-justified_-_-ms-flex-pack: end;
            --layout-end-justified_-_-webkit-justify-content: flex-end;
            --layout-end-justified_-_justify-content: flex-end;
            --layout-around-justified_-_-ms-flex-pack: distribute;
            --layout-around-justified_-_-webkit-justify-content: space-around;
            --layout-around-justified_-_justify-content: space-around;
            --layout-justified_-_-ms-flex-pack: justify;
            --layout-justified_-_-webkit-justify-content: space-between;
            --layout-justified_-_justify-content: space-between;
            --layout-center-center_-_-ms-flex-align: var(--layout-center_-_-ms-flex-align);
            --layout-center-center_-_-webkit-align-items: var(--layout-center_-_-webkit-align-items);
            --layout-center-center_-_align-items: var(--layout-center_-_align-items);
            --layout-center-center_-_-ms-flex-pack: var(--layout-center-justified_-_-ms-flex-pack);
            --layout-center-center_-_-webkit-justify-content: var(--layout-center-justified_-_-webkit-justify-content);
            --layout-center-center_-_justify-content: var(--layout-center-justified_-_justify-content);
            --layout-self-start_-_-ms-align-self: flex-start;
            --layout-self-start_-_-webkit-align-self: flex-start;
            --layout-self-start_-_align-self: flex-start;
            --layout-self-center_-_-ms-align-self: center;
            --layout-self-center_-_-webkit-align-self: center;
            --layout-self-center_-_align-self: center;
            --layout-self-end_-_-ms-align-self: flex-end;
            --layout-self-end_-_-webkit-align-self: flex-end;
            --layout-self-end_-_align-self: flex-end;
            --layout-self-stretch_-_-ms-align-self: stretch;
            --layout-self-stretch_-_-webkit-align-self: stretch;
            --layout-self-stretch_-_align-self: stretch;
            --layout-self-baseline_-_-ms-align-self: baseline;
            --layout-self-baseline_-_-webkit-align-self: baseline;
            --layout-self-baseline_-_align-self: baseline;
            --layout-start-aligned_-_-ms-flex-line-pack: start;
            --layout-start-aligned_-_-ms-align-content: flex-start;
            --layout-start-aligned_-_-webkit-align-content: flex-start;
            --layout-start-aligned_-_align-content: flex-start;
            --layout-end-aligned_-_-ms-flex-line-pack: end;
            --layout-end-aligned_-_-ms-align-content: flex-end;
            --layout-end-aligned_-_-webkit-align-content: flex-end;
            --layout-end-aligned_-_align-content: flex-end;
            --layout-center-aligned_-_-ms-flex-line-pack: center;
            --layout-center-aligned_-_-ms-align-content: center;
            --layout-center-aligned_-_-webkit-align-content: center;
            --layout-center-aligned_-_align-content: center;
            --layout-between-aligned_-_-ms-flex-line-pack: justify;
            --layout-between-aligned_-_-ms-align-content: space-between;
            --layout-between-aligned_-_-webkit-align-content: space-between;
            --layout-between-aligned_-_align-content: space-between;
            --layout-around-aligned_-_-ms-flex-line-pack: distribute;
            --layout-around-aligned_-_-ms-align-content: space-around;
            --layout-around-aligned_-_-webkit-align-content: space-around;
            --layout-around-aligned_-_align-content: space-around;
            --layout-block_-_display: block;
            --layout-invisible_-_visibility: hidden !important;
            --layout-relative_-_position: relative;
            --layout-fit_-_position: absolute;
            --layout-fit_-_top: 0;
            --layout-fit_-_right: 0;
            --layout-fit_-_bottom: 0;
            --layout-fit_-_left: 0;
            --layout-scroll_-_-webkit-overflow-scrolling: touch;
            --layout-scroll_-_overflow: auto;
            --layout-fullbleed_-_margin: 0;
            --layout-fullbleed_-_height: 100vh;
            --layout-fixed-top_-_position: fixed;
            --layout-fixed-top_-_top: 0;
            --layout-fixed-top_-_left: 0;
            --layout-fixed-top_-_right: 0;
            --layout-fixed-right_-_position: fixed;
            --layout-fixed-right_-_top: 0;
            --layout-fixed-right_-_right: 0;
            --layout-fixed-right_-_bottom: 0;
            --layout-fixed-bottom_-_position: fixed;
            --layout-fixed-bottom_-_right: 0;
            --layout-fixed-bottom_-_bottom: 0;
            --layout-fixed-bottom_-_left: 0;
            --layout-fixed-left_-_position: fixed;
            --layout-fixed-left_-_top: 0;
            --layout-fixed-left_-_bottom: 0;
            --layout-fixed-left_-_left: 0;
            --d2l-progress_-_appearance: none;
            --d2l-progress_-_-moz-appearance: none;
            --d2l-progress_-_-webkit-appearance: none;
            --d2l-progress_-_background-color: var(--d2l-color-sylvite);
            --d2l-progress_-_border-radius: 10px;
            --d2l-progress_-_border: none;
            --d2l-progress_-_box-shadow: inset 0px 2px 0px 0px var(--d2l-color-gypsum);
            --d2l-progress_-_height: 1rem;
            --d2l-progress_-_width: 100%;
            --d2l-progress-webkit-progress-bar_-_background-color: transparent;
            --d2l-progress-webkit-progress-value_-_background-color: var(--d2l-color-olivine);
            --d2l-progress-webkit-progress-value_-_border: 1px solid transparent;
            --d2l-progress-webkit-progress-value_-_border-radius: 10px;
            --d2l-progress-webkit-progress-value_-_transition: width 0.75s ease-out;
            --d2l-progress-moz-progress-bar_-_background-color: var(--d2l-color-olivine);
            --d2l-progress-moz-progress-bar_-_border: 1px solid transparent;
            --d2l-progress-moz-progress-bar_-_border-radius: 10px;
            --d2l-progress-moz-progress-bar_-_transition: width 0.75s ease-out;
            --d2l-progress-ms-fill_-_background-color: var(--d2l-color-olivine);
            --d2l-progress-ms-fill_-_border: 1px solid transparent;
            --d2l-progress-ms-fill_-_border-radius: 10px;
            --d2l-progress-ms-fill_-_transition: width 0.75s ease-out;
            --d2l-progress-webkit-progress-value-no-progress_-_border: none;
            --d2l-progress-moz-progress-bar-no-progress_-_border: none;
            font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
            letter-spacing: .01rem;
            --viewer-max-width: 1170px;
            --sidebar-max-width: 570px;
            --sidebar-absolute-width: 80%;
            --sidebar-min-width: 280px;
            --topbar-height: 60px;
            --viewframe-horizontal-margin: 30px;
            --d2l-asv-primary-color: #3f2a56;
            --d2l-asv-text-color: #FFFFFF;
            --d2l-asv-selected-text-color: #FFFFFF;
            --d2l-asv-hover-color: rgba(63, 42, 86, 0.18);
            --d2l-asv-header-hover-color: #18032F;
            --d2l-branding-primary-color: #494c4e;
            --dynamic-viewframe-height: 929px;
            --header-inner-border: 1px solid #00000029;
            --d2l-sequence-viewer-button-padding: 24px;
            --d2l-flyout-menu-right-padding: 24px;
            --d2l-flyout-menu-left-padding: 18px;
        }

        .topbar {
            display: flex;
            align-items: center;
            height: var(--topbar-height);
            color: var(--d2l-color-ferrite);
            font-size: var(--d2l-body-standard-text_-_font-size);
            font-weight: var(--d2l-body-standard-text_-_font-weight);
            line-height: var(--d2l-body-standard-text_-_line-height);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
        }

        body {
            font-family: sans-serif;
            padding: 0;
        }

        /* The sidebar menu */
        .sidebar {
            height: 100%;
            /* Full-height: remove this if you want "auto" height */
            width: 0;
            /* Set the width of the sidebar */
            position: fixed;
            /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            left: 0;
            background-color: #ffffff;
            /* White */
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in the sidebar */
        }

        /* The sidebar links */
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #0f0f0f;
        }

        /* Position and style the close button (top right corner) */
        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* The button used to open the sidebar */
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: transparent;
            color: #000;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            color: #444;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }

        iframe {
            display: block;
            margin: auto;
            width: 860px;
            height: 90vh;
            /* vh stands for viewport height. 90vh will be 90% of the height of the viewport */
            border: none;
            box-shadow: 0 0 10px #ccc;
        }

        .nav-buttons {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        .nav-buttons a {
            padding: 10px 20px;
            background-color: #3f2a56;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        #header-right {

            color: var(--d2l-color-ferrite);
            font-size: var(--d2l-body-standard-text_-_font-size);
            font-weight: var(--d2l-body-standard-text_-_font-weight);
            line-height: var(--d2l-body-standard-text_-_line-height);

            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
        }

        #header-left {
            display: flex;
            flex: 1;
        }

        .topic-name {
            font-size: var(--d2l-body-compact-text_-_font-size);
            font-weight: var(--d2l-body-compact-text_-_font-weight);
            line-height: var(--d2l-body-compact-text_-_line-height);
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;

        }
    </style>
    <title>
        <%= currentPage %>
    </title>
</head>

<body>
    <div class="topbar">
        <div id="header-left">
            <a href="/">Back</a>
            <button class="openbtn" onclick="openNav()">☰</button>
        </div>
        <div class="topic-name hidden-small">
            <%= resource.title %>
        </div>
        <div id="header-right">
            <div class="nav-buttons">
                <% if (prevResource) { %>
                    <a href="/resource/<%= encodeURIComponent(prevResource.title) %>">Previous</a>
                    <% } else { %>
                        <button disabled>Previous</button>
                        <% } %>
                            <% if (nextResource) { %>
                                <a href="/resource/<%= encodeURIComponent(nextResource.title) %>">Next</a>
                                <% } else { %>
                                    <button disabled>Next</button>
                                    <% } %>
            </div>
        </div>
    </div>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <h2>Table of Contents</h2>
        <% manifest.forEach(function(module) { %>
            <h3>
                <%= module.moduleTitle %>
            </h3>
            <% module.items.forEach(function(item) { %>
                <a href="/resource/<%= encodeURIComponent(item.title) %>">
                    <%= item.title %>
                </a>
                <% }); %>
                    <% }); %>
    </div>

    <div id="main">


        <iframe src="/page/<%= resource.href %>"></iframe>
        <div class="nav-buttons">
            <% if (prevResource) { %>
                <a href="/resource/<%= encodeURIComponent(prevResource.title) %>">Previous</a>
                <% } else { %>
                    <button disabled>Previous</button>
                    <% } %>
                        <% if (nextResource) { %>
                            <a href="/resource/<%= encodeURIComponent(nextResource.title) %>">Next</a>
                            <% } else { %>
                                <button disabled>Next</button>
                                <% } %>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "450px";
            document.getElementById("main").style.marginLeft = "450px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <script>
        window.onload = function () {
            var currentPageTitle = '<%= currentPage %>'; // get the current page title from the server-side data
            localStorage.setItem(currentPageTitle, 'visited'); // mark the current page as visited

            // Get all links in the sidebar
            var links = document.getElementById('mySidebar').getElementsByTagName('a');

            for (var i = 0; i < links.length; i++) {
                var title = links[i].textContent;
                if (localStorage.getItem(title) === 'visited') {
                    // Add a checkmark after the link
                    links[i].innerHTML += ' ✓';
                }
            }
        }
    </script>

</body>

</html>