<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/public/favicon-mobile.ico">
    <title>File upload</title>
  <style>
    body{
      font-family:sans-serif;
    }
    .renamer{
      margin-top:2em;
    }
    .fileName{
      margin:1em;
      padding:.5em;
      width:32em;
    }
  </style>
</head>
<body>
  <a href="/">Back</a>
    <h1>File upload</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="zipFile" accept=".zip">
    <input type="submit" value="Upload">
</form>

<div class="renamer">
    <% for(let i=0; i<packageFiles.length; i++) { %>
        <div>
          <% if(packageFiles[i].imageUrl){ %>
            <img src="<%= packageFiles[i].imageUrl %>" style="height:1.5em;width:auto;">
            <% } else { %>
              <div style="position:relative;display:inline-block;height:1.5em;width:65px;"></div>
              <% } %>
            <input id="file_<%= i %>" class="fileName" value="<%= packageFiles[i].file.replace(/\.[^/.]+$/, "") %>">
            <button onclick="renameFile('<%= packageFiles[i].file%>', 'file_<%= i %>')">Rename</button>

            <form action="/uploadImage" method="post" enctype="multipart/form-data" style="display: inline;">
              <span>Change cover image</span>
                <input type="file" id="imageFile_<%= i %>" name="imageFile" accept="image/*" onchange="toggleButton('uploadImageButton_<%= i %>')">
                <input type="hidden" name="zipFileName" value="<%= packageFiles[i].file %>">
                <input type="submit" id="uploadImageButton_<%= i %>" value="Upload Image" style="display: none;">
            </form>
        </div>
    <% } %>
</div>
  <script>
function renameFile(source,targetId){
    let target = document.getElementById(targetId).value + '.zip';
    // send a post request to the server with the old and new filenames
    fetch('/rename', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ old: source, new: target })
    }).then((response) => {
        if(response.ok) {
            alert('File renamed successfully');
           location.reload();
        } else {
            alert('Error renaming file');
        }
    });
}

function toggleButton(buttonId) {
    const uploadButton = document.getElementById(buttonId);
    const fileInput = document.getElementById(buttonId.replace('uploadImageButton', 'imageFile'));

    if (fileInput.value) {
        uploadButton.style.display = 'inline';
    } else {
        uploadButton.style.display = 'none';
    }
}

  </script>
</body>
</html>
